shibuya
packaging==23.2
Pygments>=2.10.0
phringe>=1.1.2
jupyter==1.0.0
recommonmark
sphinx-contributors
sphinx==6.2.1
myst-nb==1.2.0
myst-parser==1.0.0
nbsphinx==0.9.8
shibuya==2026.1.9
sphinx-copybutton==0.5.2
sphinx-click==4.1.0